@import '~src/sass/base';

.context-menu
  align-items: center
  background-color: white
  border-radius: 4px
  box-shadow: -1px 3px 17px 0px rgba(209,209,209,1)
  display: flex
  margin: 1.5em auto
  padding: 1em

  .context-menu__brand
    img
      max-height: 60px;
