<div class="task-item clearfix">
  <div class="task__checkbox">
    <input type="checkbox" name="" id="">
  </div>
  <div class="task__title">
    <p>{{ title }}</p>
  </div>
  <div class="task__options">
    <div class="field is-grouped">
      <p class="control">
        <button class="button is-rounded">
          <i class="icon icon-calendar"></i>
        </button>
        <button class="button is-rounded">
            <i class="icon icon-note"></i>
          </button>
        <button class="button is-rounded">
          <i class="icon icon-trash"></i>
        </button>
        <button class="button is-rounded">
          <i class="icon icon-settings"></i>
        </button>
      </p>
    </div>
  </div>
</div>
